.product-characteristics-dropdown {
  display: none;
  overflow: hidden;

  @media (min-width: 768px) {
    display: block !important;
    overflow: visible !important;
    opacity: 1 !important;
    height: auto !important;
  }
}