.soc-net {
  &-list {
    display: flex;
    align-items: center;
  }

  &-item {
    margin: 0 21px 0 0;

    @media (max-width: $smtableWidth) {
      margin: 0 31px 0 0;
    }

    &:last-child {
      margin: 0;
    }
  }

  &-link {
    margin: 0 3px 3px 0;
    min-width: 32px;
    width: 32px;
    height: 32px;
    box-shadow: $shadow-border-sm;
    padding: 0;

    @media (max-width: $smtableWidth) {
      min-width: 45px;
      width: 45px;
      height: 45px;

      &_tw svg {
        width: 20px;
      }

      &_inst svg {
        width: 20px;
      }

      &_f svg {
        width: 11px;
      }
    }
  }

  &-list_big {
    & .soc-net-link {
      min-width: 49px;
      width: 49px;
      height: 49px;

      &_tw svg {
        width: 20px;
      }

      &_inst svg {
        width: 20px;
      }

      &_f svg {
        width: 11px;
      }
    }

    & .soc-net-item {
      margin: 0 34px 0 0;

      &:last-child {
        margin: 0;
      }
    }
  }
}